header {
  background: #fff;
}
.logo {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 80px;
}
.logo img {
  width: 38px;
  height: 46.008px;
}
.logo h2 {
  padding-left: 16px;
}
.color-text {
  color: #ff5400;
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 90px;
}
nav {
  display: flex;
  justify-content: space-between;
}
main {
  background: #fff;
}
.explore {
  background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin-left: 80px;
}
.explore-text {
  text-align: center;
  padding-top: 30px;
}
.explore h2 {
  color: #fff;
  font-size: 44px;
}
.explore p {
  color: #fff;
  font-size: 16px;
}
.frame {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  background-position: center;
  width: 800px;
  height: 84px;
  display: flex;
  padding: 16px;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.frame input {
  width: 174px;
  height: 52px;
}
.frame-button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
}
.popular-container {
  display: flex;
  margin-left: 90px;
  margin-top: 50px;
  gap: 190px;
}
.popular-img {
  width: 540px;
  height: 550px;
  border-radius: 16px;
}
.popular-container img {
  width: 90%;
  height: 80%;
}
.popular-container button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
}
.popular-container p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
}
.destination h2 {
  text-align: center;
}
.destination p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.row-1 {
  display: flex;
  gap: 10px;
  margin-left: 80px;
}
.img-1 {
  width: 573px;
  height: 300px;
}
.img-2 {
  width: 573px;
  height: 300px;
}
.img-text1 {
  position: relative;
}
.overlay-text1 {
  padding: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.img-text2 {
  position: relative;
}
.overlay-text2 {
  padding: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.row-2 {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  margin-left: 80px;
}
.img-text3 {
  position: relative;
}
.overlay-text3 {
  padding: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.img-text4 {
  position: relative;
}
.overlay-text4 {
  padding: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.img-text5 {
  position: relative;
}
.overlay-text5 {
  padding: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.row-3 {
  display: flex;
  margin-left: 80px;
  gap: 10px;
}
.img-text6 {
  position: relative;
}
.overlay-text6 {
  padding: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.img-text7 {
  position: relative;
}
.overlay-text7 {
  padding: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.choose-text {
  text-align: center;
}
.choose-feature {
  display: flex;
  gap: 10px;
  margin-left: 50px;
}
.feature-1 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 10px;
}
.feature-2 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 10px;
}
.feature-3 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
}
.newsletter-part {
  display: flex;
  margin-top: 15px;
  gap: 10px;
  margin-left: 70px;
}
.newsletter-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.image-newsletter-text {
  position: relative;
}
.text-over-image {
  padding: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: #ff5400;
  transform: rotate(-19.628deg);
}
.image-newsletter-text img {
  width: 672px;
  height: 422px;
}
.news-info {
  background: #fff;
  border: 1px solid red;
  padding: 20px;
  border-radius: 5px;
}
#input-1 {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
#input-2 {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
#input-3 {
  width: 400px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
}
footer {
  background: rgba(19, 19, 24, 0.05);
  margin-top: 20px;
}
.footer-element {
  text-align: center;
}
.footer-logo {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
.footer-logo img {
  width: 40px;
  height: 46.673px;
}
.footer-icon{
  display: flex;
  justify-content: center;
  gap: 20px;
}
hr {
  width: 75%;
}
.footer-text {
  text-align: center;
}
